@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  display: flex;
  background: rgb(224, 227, 235);

  .main {
    width: calc(100% - 400px);
    position: relative;
    background: #fff;
    & > main {
      height: 100%;
    }

    .custom-handle {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 2px;
      cursor: ew-resize;
      background: rgb(224, 227, 235);
    }
  }
  .side {
    width: 400px;
    background: #fff;
    & > aside {
      height: 100%;
    }
  }
}